<div>
  {{> title data=name big=true}}
  <q>{{description}}</q>
  <p>Founded in <i>{{history.year}}</i> by <em>{{history.founder}}</em>.</p>
</div>

<hr>

<div>
  <h3>Types in JavaScript:</h3>
  <ol>
    {{#each types}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ol>
</div>

<hr>

<details open>
  <summary><b>Syntax</b></summary> <br>
  {{#with syntax}}
    <b>Variables:</b>
    <ul>
      {{#each variables}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <br>
    <b>Functions:</b>
    <ul>
      {{#each functions}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <br>
    <b>Conditionals:</b>
    <ul>
      {{#each conditionals}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <br>
    <b>Loops:</b>
    <ul>
      {{#each loops}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <br>
    <b>Classes:</b>
    <ul>
      {{#each classes}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/with}}
</details>

<hr>

<details open>
  <summary><b>Features</b></summary>
  <ul>
    {{#each features}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>
</details>

<hr>

<details open>
  <summary><b>Tools</b></summary>
  <ul>
    {{#each tools}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>
</details>

<hr>

<details open>
  <summary><b>Community</b></summary>
  <ul>
    {{#with community}}
      <li>
        {{>link href='https://stackoverflow.com/' blank=true text=0.name noLine=true}} -
        {{0.type}}
      </li>
      <li>
        {{>link href='https://javascriptweekly.com/' blank=true text=1.name noLine=true}} -
        {{1.type}}
      </li>
      <li>
        {{>link href='https://changelog.com/podcast' blank=true text=2.name noLine=true}} -
        {{2.type}}
      </li>
      <li>
        {{>link href='https://css-tricks.com/' blank=true text=3.name noLine=true}} -
        {{3.type}}
      </li>
    {{/with}}
  </ul>
</details>