{{> shopheader}}

<section>
  {{#with newsBlock}}
    <h4 class='text-center'>{{title}}</h4>
    <div class='row g-2'>
      {{#each cards}}
        <div class='col-3'>
          <div class='card h-100 text-bg-dark'>
            <div class='card-header'>
              {{title}}
              {{#if isTop}}
                <span
                  class='badge text-bg-success text-capitalize'
                >new</span>
              {{/if}}
              {{#if idNew}}
                <span
                  class='badge text-bg-danger text-capitalize'
                >top</span>
              {{/if}}
            </div>
            <div class='card-body'>{{description}}</div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>

<hr />

<section>
  {{#with goodsBlock}}
    <div>
      <ol class='nav nav-tabs'>
        {{#each tabs}}
          <li class='nav-item'>
            {{#unless isDisabled}}
              {{#if isActive}}
                <a href='' class='nav-link active'>
                  {{text}}
                </a>
              {{else}}
                <a href='' class='nav-link'>
                  {{text}}
                </a>
              {{/if}}
            {{/unless}}
            {{#if isDisabled}}
              <a href='' class='nav-link disabled'>
                {{text}}
              </a>
            {{/if}}
          </li>
        {{/each}}
      </ol>
    </div>
{{> shopcard}}
  {{/with}}
</section>

<hr />

<section>
  {{#with subscribe}}
    <div class='row'>
      <div class='col-12 pb-0'>
        <div class='card text-bg-dark'>
          <div class='row'>
            <div class='col-8 mt-3'>
              <div class='card-body'>
                <h2 class='card-title'>{{header}}</h2>
                <p class='card-text'>{{description}}</p>
              </div>
            </div>
            <div class='col-4 ps-4 pt-4 pe-4 pb-4'>
              {{#each buttons}}
                <a
                  href='{{link}}'
                  class='btn btn-primary mb-3 '
                >{{text}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/with}}
</section>

<hr />

{{> shopaction}}

<hr />

{{> shopfooter}}