<nav>
  {{#with navigation}}
    {{#with links}}
      <a
        href='{{0.href}}'
        class='btn btn-link'
      >{{0.text}}</a>
      <a
        href='{{1.href}}'
        class='btn btn-link'
      >{{1.text}}</a>
      <a
        href='{{2.href}}'
        class='btn btn-link'
      >{{2.text}}</a>
    {{/with}}
    <a
      href='{{button.href}}'
      class='btn btn-primary'
    >{{button.text}}</a>
  {{/with}}
</nav>

<hr />

<header>
  {{#with header}}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <a
      href='{{button.href}}'
      class='btn btn-primary'
    >{{button.text}}</a>
  {{/with}}
</header>

<hr />

<section>
  {{#with city}}
    <h2>{{title}}</h2>
    <div class='row w-50'>
      {{#each cards}}
        <div class='card-deck col-6 g-4'>
          <div class='card h-100'>
            <img
              src='{{this.picture.src}}'
              alt='{{this.picture.alt}}'
              class='card-img-top'
            />
            <div class='card-body'>

              <div class='card-title text-bold'>
                {{this.title}}
              </div>
              <p>{{this.description}}</p>
              <a
                href='{{this.button.href}}'
                class='btn btn-primary'
              >{{this.button.text}}</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>

<hr />

<section>
  {{#with winner}}
    <h2>{{title}}</h2>
    {{#with table}}
      <table class='table w-50'>
        <thead>
          <tr>
            {{#each head}}
              <th>{{this}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each user}}
            <tr>
              <td>{{this.place}}</td>
              <td>{{this.name}}</td>
              <td>{{this.surname}}</td>
              <td>{{this.nickname}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/with}}
  {{/with}}
</section>

<hr />

<section>
  {{#with gallery}}
    <h2>{{title}}</h2>
    <br />
    <div class='row w-50'>
      {{#each cards}}
        <div class='col-4'>
          <div class='card'>
            <div class='card-header'>{{this.name}}</div>
            <div class='list-group g-2'>
              {{#each items}}
                <div class='list-group-item'>{{this}}</div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>

<hr />

<section>
  {{#with relaxation}}
    <h2 class='display-3'>{{title}}</h2>
    <div class='row w-50'>
      {{#each cards}}
        <div class='col-6 gy-4'>
          <div class='card text-bg-secondary h-100'>
            <div class='card-header'>{{header}}</div>
            <div class='card-body'>
              <div class='card-title'>{{title}}</div>
              <p class='card-text'>{{description}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>

<hr />

<section>
  {{#with rest}}
    <div class='row w-50'>
      {{#each cards}}
        <div class='col-6'>
          <div class='card text-center h-100'>
            <div class='card-header'>{{header}}</div>
            <div class='card-body'>
              <div class='card-title'>{{title}}</div>
              <div class='card-text'>{{description}}</div>
              <button
                class='btn btn-primary'
              >{{button}}</button>
            </div>
            <div class='card-footer'>{{footer}}</div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>

<hr />

<section>
  {{#with proposition}}
    <h2 class='display-2'>{{title}}</h2>
    <br />
    <div class='row w-50'>
      {{#each card}}
        <div class='col-4'>
          <div class='card h-100 text-bg-warning'>
            <div class='card-header'>{{header}}</div>
            <div class='card-body'>
              <div class='card-title'>{{title}}</div>
              <div class='card-text'>{{description}}</div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>

<hr />

<footer>
  {{#with footer}}
    <h5>{{title}}</h5>
    <br />
    <div class='row'>
      <div class='col-3'>
        <ul>
          {{#each navigation}}
            <li class='list-group-item'>
              <a
                href='{{href}}'
                class='btn btn-link mb-2 w-75 h-50'
              >{{text}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class='col-3'>
        <ul>
          {{#each socialMedia}}
            <li class='list-group-item'>
              <a
                href='{{link}}'
                class='btn btn-outline-dark mb-2 w-75 h-50'
              >{{name}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class='col-3'>
        <ul>
          {{#each partners}}
            <li class='list-group-item'>
              <a
                href='{{link}}'
                class='btn btn-outline-info mb-2 w-75 h-50'
              >{{name}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

  {{/with}}
</footer>