{{! НЕ ВИКОРИСТОВУВАТИ, ТІЛЬКИ ДЛЯ КОПІ-ПАСТА!!!! }}

{{#if isPrimary}}
  <a href='{{link}}' class='btn btn-primary'>{{text}}</a>
{{/if}}

{{#if isSecondary}}
  <a href='{{link}}' class='btn btn-secondary'>{{text}}</a>
{{/if}}

{{#if isDanger}}
  <a href='{{link}}' class='btn btn-danger'>{{text}}</a>
{{/if}}

{{#if isSuccess}}
  <a href='{{link}}' class='btn btn-success'>{{text}}</a>
{{/if}}

{{#if isWarning}}
  <a href='{{link}}' class='btn btn-warning'>{{text}}</a>
{{/if}}

{{#if isInfo}}
  <a href='{{link}}' class='btn btn-info'>{{text}}</a>
{{/if}}

{{#if isOutline}}
  <a
    href='{{link}}'
    class='btn btn-outline-primary'
  >{{text}}</a>
{{/if}}

{{! НЕ ВИКОРИСТОВУВАТИ, ТІЛЬКИ ДЛЯ КОПІ-ПАСТА!!!! }}