{{#with data}}
  <div class='card'>
    <img src='{{img}}' alt='' class='card_img' />
    <h2 class='card_title'>{{title}}</h2>
    <p class='card_text'>{{text}}</p>
    <a
      href='{{href}}'
      class='card_button button'
    >{{button}}</a>
  </div>
{{/with}}