<div class='card mb-3'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-2'>
        <img src='{{image}}' alt='' class='card-img-top' />
      </div>
      <div class='col-4'>
        <h4 class='card-title'>{{name}}</h4>
        <p class='card-text'>{{description}}</p>
      </div>
      <div class='col-2 mt-5 ps-5'>
        <h6 class='card-text'>{{price.title}}</h6>
        <strong class='card-text'>{{price.value}}</strong>
      </div>
      <div class='col-2 mt-5 ps-5'>
        <p class='card-text'>{{amount}}</p>
      </div>
      <div class='col-2'>
        {{#each buttons}}
          {{#if isPrimary}}
            <button class='btn btn-primary my-3'>
              {{text}}
            </button>
          {{/if}}
          {{#if isDanger}}
            <button class='btn btn-outline-danger my-3'>
              {{text}}
            </button>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>