<div>{{position}}</div>
<br>

<div>
  {{duration.from}} -
  {{#if duration.to}}
    {{duration.to}}
  {{else}}
    Current
  {{/if}}

</div>
<br>

<div>
  {{#if company.url}}
    {{> link text=company.name href=company.url blank=true noLine=true}}
  {{else}}
    <b>{{company.name}}</b>
  {{/if}}
</div>
<br>

<div><strong>Projects: {{projectAmount}} </strong></div>
<br>


<ul>
  {{#each projects}}
    <li>
      {{> projects}}
    </li>
  {{/each}}
</ul>

<br>